<script>
		$(function () {
	   //var $lists = $('.list-group li').click(function(e) {
   
	   $("#navbar ul li").click(function () {
		   $(this).toggleClass("active");
		   e.preventDefault(); /*ignores actual link*/
	   });
   
   
	   //$lists.filter(".active").removeClass("active");
	   //$(this).addClass('active');
	   //e.preventDefault() /*ignores actual link*/
	   //});
   });
		</script>
<div id="navbar">
		<ul>
			<li><a href="#/employeeInfo">Profile</a></li>
			<li><a  id="job" href="#/employeeAssignments">At Work</a></li>
			<li><a id="add">Additional Info</a>
			  <ul>
				<li><a href="#/personalinfo">Personal</a></li>
				<!--<li><a href="#/medicalInfo">Medical Info</a></li>-->
				<li><a href="#/officeInfo">Office</a></li>
				<li  ng-show="{{usOrgCode!=orgCode}}"><a href="#/passportInfo">Passport</a></li>
				<li ng-show="{{usOrgCode!=orgCode}}"><a href="#/empBankList">Bank</a></li>
				<li><a href="#/emergencyContacts">Emergency Contacts</a></li>
			  </ul>
			</li>
			<li><a id="professional">Professional</a>
			  <ul>
				<li><a href="#/skillDetails">Skills</a></li>
				<li><a href="#/certificationDetails">Certifications</a></li>
			  </ul>			
			</li>
			<li ><a id="other">Other</a>
			  <ul>
				<li><a href="#/additionalDocs">Additonal Docs</a></li>
			  </ul>			
			</li>
		  </ul>
		</div>
	</script>
	<style>
		#navbar{
			margin-left: 14.5%;
		}
	 #navbar ul {
		position: relative;  
	  }
	  #navbar ul li {
		  list-style: none;
		  display: inline-block;
		margin: 0 -4px 0 0;
	  }
	  #navbar ul li a {
		  padding: 7px 15px;
		  text-transform: uppercase;
		  text-decoration: none; 
		  color: #fff;
		  background: orange; 
		  display: block;
	  }
	  #navbar ul li:hover a {
		/*  text-decoration: underline;  */
		color: #fff;
		background: #999;
	  }
	  #navbar ul li ul {
		  display: none;
		width: 100%;
		z-index: 9999;
	  }
	  #navbar ul li:hover ul {
		  position: absolute;
		  display: block;
		  left: 0;
		top: 2.3em;
		width: 100%;
	  }
	  #navbar ul li:hover li {
		  display: inline-block;
		margin: 0 -3px 0 0;
	  }
	 /* #navbar ul li:hover li a {
		  text-decoration: underline;
	  } */
	  #navbar ul li li a:hover {
		  color: #fff;
		background: #999;
	  }
	  #navbar ul li.active {
		background: #aaa !important;
}
	.active {
		background: #aaa !important;
	}
	 </style>
