<div class="row userProfilePadding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5">
                <table class="tableBorder">
                    <thead class="tableHead">
                        <th class="tableText"> Functions </th>
                        <th class="tableText"> Excluded Operations </th>
                    </thead>
                    <tbody>
                        <tr class="tableBorder" ng-show="vm.userOperations.length> 0" ng-repeat="operations in vm.userOperations">
                            <td class="tableText">
                                {{operations.osiFunctions.funcName}}
                            </td>
                            <td class="tableText">
                                {{operations.osiOperations.name}}
                            </td>
                        </tr>
                        
                        <tr  ng-show="vm.userOperations.length== 0">
                            <td  class="tableErrorText">
                                No Operation Excluded ..!  
                            </td>
                            <td  class="tableErrorText"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>

